# Node
node_modules/

# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS metadata
.DS_Store

# Env files
.env
.env.*

# Coverage
coverage/
.nyc_output/

# Build/cache/temp
.cache/
dist/
tmp/

# Editors/IDE
.vscode/
.idea/

# Misc
*.local
