<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550711161426-bkup98581nj5jsuq38cutigtc0q58idk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550711161426-bkup98581nj5jsuq38cutigtc0q58idk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>550711161426-2se9i9p6p7o3pk1els6b60mooait9b0f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>REPLACE_ME_RESTRICTED_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>550711161426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seedsphere.gardener</string>
	<key>PROJECT_ID</key>
	<string>seedsphere</string>
	<key>STORAGE_BUCKET</key>
	<string>seedsphere.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550711161426:ios:c782d2d7215ccbffa5e58b</string>
</dict>
</plist>